@{
    ViewData["Title"] = "Home Page";
}


<main>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/hero-1.png">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text bg-dark p-5">
                                <div class="label">Education</div>
                                <h2>School of Thought</h2>
                                <p>Master Programming and More</p>
                                <a href="@Url.Action("Index","Courses")"><span>See Courses</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Courses</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="@Url.Action("Index","Courses")" class="primary-btn">View All Courses<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.png">                                       
                                    </div>
                                    <div class="product__item__text">                               
                                        <h5><a href="#">Algebra</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-2.png"></div>
                                    <div class="product__item__text">
                                        <h5><a href="#">Introduction To Python Programming</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/trending/trend-3.png"></div>
                                    <div class="product__item__text">
                                        <h5><a href="#">Web Development with JavaScript</a></h5>
                                    </div>
                                </div>
                            </div>                                           
                        </div>
                    </div>                                
                </div>            
            </div>
        </div>
    </section>
    <!-- Product Section End -->
</main>
